// Page wrapper
.faq {
  max-width: 800px;
  margin: 0px auto;
  padding: 15px 20px;
  h2{
    color: #ffffff;
  }
}

// FAQ Item
.faq__item {
  
  h3 {
    
    font-size: 22px;
    border-bottom: 1px solid rgb(255, 255, 255); //FAQ 밑줄
    margin: 20px 0px 0px 0px;
    display: inline-block;
  }

  p {
    color: #000000; //FAQ 전체 내용
    font-size: 19px;
    margin: 20px 0px;

    a {
      color: #13096b; //FAQ 전체 내용에 링크글

      &:hover {
        text-decoration: underline;
      }
    }

    &:nth-of-type(1) {
      margin-top: 10px;
    }
  }
}
