.home__cta {
  max-width: 1000px;
  margin: 0px auto;
  padding: 15px 20px;
  text-align: center;

  h1 {
    font-size: 5rem;
    margin: 15px 0px 0px 0px;
  }
  // p {
  //   color: #5f0606;
  //   font-size: 22px;
  //   margin: 0px;
  // }

  ul {
    list-style-type: none;
    margin: 10px auto 30px auto;
    padding: 0px;

    li {
      display: inline-block;
      margin: 0px 10px;

      a {
        color: #112a46;
        font-size: 22px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}


.home__p{
  color: #5f0606;
    font-size: 22px;
    margin: 0px;
}
.home__p2{
  color: #5f0606;
    font-size: 20px;
    margin: 0px;
}

.home__feature {
    max-width: 1000px;
    margin: 0px auto;
    padding: 15px 20px;
    padding-top: 40px;
    text-align: center;

  > span {
    display: block;
    color: #000000;
    font-size: 18px;
    padding: 10px 0px;
  }

  &-links {
    width: 50;
    text-align: right;
    color: #500c88; //메뉴 평상시 색
    font-size: 30px;
        &:hover {
            text-decoration: underline;
        }

    }
}


.home__subtitle_1 {
    max-width: 1000px;
    margin: 0px auto;
    padding: 15px 20px;
    padding-top: 40px;
    // text-align: center;

    p {
    color: #000000;
    font-size: 22px;
    margin: 0px;
    }
}

.home__subtitle_2 {
    max-width: 1000px;
    margin: 0px auto;
    padding: 15px 20px;
    padding-top: 40px;
    // text-align: center;

    p {
    color: #000000;
    font-size: 22px;
    margin: 0px;
    }
    div{
        text-align: center;
    }
    > span {
        display: block;
        color: #000000;
        font-size: 18px;
        padding: 10px 0px;
    }
  
    &-links {
        width: 50;
        text-align: right;
        color: #500c88; //메뉴 평상시 색
        font-size: 30px;
            &:hover {
                text-decoration: underline;
            }

        }
}

.home__subtitle_3 {
    max-width: 1000px;
    margin: 0px auto;
    padding: 15px 20px;
    padding-top: 40px;
    // text-align: center;

    p {
    color: #000000;
    font-size: 22px;
    margin: 0px;
    }
}

.home__subtitle_4 {
    max-width: 1000px;
    margin: 0px auto;
    padding: 15px 20px;
    padding-top: 40px;
    // text-align: center;

    &_p {
    color: #000000;
    font-size: 22px;
    margin: 0px;
    }

    &_p2{
        color: #000000;
        font-size: 20px;
        margin: 0px;
    }
}

.home__subtitle_5 {
    max-width: 1000px;
    margin: 0px auto;
    padding: 15px 20px;
    padding-top: 40px;
    // text-align: center;

    p {
        color: #000000;
        font-size: 22px;
        margin: 0px;
        font-weight: bold;
    }
}

.home__bag {
  display: inline-block;
  vertical-align: top;
  margin: 15px;
  color: #112a46;

  &:hover {
    opacity: 0.8;
  }
}

.home__bag_attributes {
  background-color: black;
  width: 400px;
  height: 400px;
  position: relative;

  > span {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 20px;
    text-align: left;

    li {
      margin: 5px 0px;

      span {
        font-size: 20px;
      }
    }
  }
}

.home__svg {
  height: 200;
  width: 200;
}

// Responsive
@media screen and (max-width: 850px) {
  .home__cta {
    p {
      br {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .home__bag_attributes {
    background-color: black;
    width: 300px;
    height: 300px;
    position: relative;

    ul {
      li {
        span {
          font-size: 16px;
        }
      }
    }
  }
}

